/*Site Layout CSS */
.wrapper{
    font-family: "Avenir Next";
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: 150px 200px 500px 500px 300px 250px;
    grid-template-areas: 
            "title title title title"
            "load load load load"
            "controls controls training training"
            "summary summary training training"
            "input input histo histo"
            "softmax softmax softmax softmax";
    /* width: 100vw;
    height: 100vh; */
}

.masthead{
    grid-area: title;
    font-size: 60px;
    text-align: center;
    font-weight: normal;
}

.example-wrapper{
    grid-area: load;
    background: rgba(65, 105, 225, 0.034);
}

.training-wrapper{
    grid-area: training;
    background: rgba(143, 171, 255, 0.103);
}

.summary-wrapper{
    grid-area: summary;
    padding: 20px;
}

.controls-wrapper{
    grid-area: controls;
}

.softmax-wrapper{
    grid-area: softmax;
}

.input-wrapper{
    grid-area: input;
}

.histo-wrapper{
    grid-area: histo;
}



/* Example styling */

.pre-view{
    width: 90px;
}

.pre-view-container{
    display: inline-block;
    width: 102px;
    margin: 10px;
}

/* Div headers */

.header-text{
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}