/*Site Layout CSS */
.wrapper{
    font-family: "Avenir Next";
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: 150px 200px 500px 350px 300px 250px;
    grid-template-areas: 
            "title title title title"
            "load load load load"
            "controls controls training training"
            "summary summary layer layer"
            "input input histo histo"
            "input input histo histo";
    /* width: 100vw;
    height: 100vh; */
}

/* Masthead styling */
.masthead{
    grid-area: title;
    text-align: left;
    font-weight: lighter;
}

.masthead h1{
    font-size: 50px;
}

.masthead p {
    font-size: 25px;
}

/* Example wrapper styling */
.example-wrapper{
    grid-area: load;
    /* background: rgba(65, 105, 225, 0.034); */
}

#load-view{
    text-align: left;
}

.pre-view{
    width: 50px;
}

.pre-view-container{
    display: inline-block;
    width: 60px;
    margin-top: 70px;
}

.pre-view-container text{
    font-size: 15;
    font-weight: lighter;
}



.training-wrapper{
    grid-area: training;
    /* background: rgba(143, 171, 255, 0.103); */
}

.loss-wrapper{
    grid-area: loss;
    /* background: rgba(143, 171, 255, 0.103); */
}

.acc-wrapper{
    grid-area: acc;
    /* background: rgba(143, 171, 255, 0.103); */
}

.summary-wrapper{
    grid-area: summary;
}

.controls-wrapper{
    grid-area: controls;
}

.predict-wrapper{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 400px;
    grid-template-areas: 
            "input histo"
            "input histo";
    /* width: 100vw;
    height: 100vh; */
}

.input-wrapper{
    grid-area: input;
}

.histo-wrapper{
    grid-area: histo;
}

/* Layer styling */

.layer-wrapper{
    text-align: center;
}
.weight{
    width: 90px;
}

.weight-container{
    display: inline-block;
    width: 100px;
    margin: 3px;
}


/* Div headers */

.header-text{
    font-size: 30px;
    text-align: left;
    font-weight: lighter;
}

/* Drawing styling */
.input{
    /* position: relative;
    margin: 10px;
    left: 250px; */
}

#drawn-digit{
    position: absolute;
    left: 250px;
    border:3px solid rgb(70, 70, 145);
    width: 300px;
    height: 300px;
    background-color: black;
}

#resized-digit{
    /* visibility: hidden; */
    background-color: black;
    width: 150px;
    height: 150px;
}



